@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-spy {
    background-image: url('assets/spy_bg.svg');  
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@keyframes topfade {
    from {opacity: 0%;}
    to {opacity: 100%;}
  }

.animate-top-fade {
    animation-name: topfade;
    animation-duration: 4s;
}